@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(14.5% 0.004 285.82);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(14.5% 0.004 285.82);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(14.5% 0.004 285.82);
  --color-primary: oklch(21.03% 0.006 285.88);
  --color-primary-foreground: oklch(98.53% 0 0);
  --color-secondary: oklch(96.68% 0.001 286.38);
  --color-secondary-foreground: oklch(21.03% 0.006 285.88);
  --color-muted: oklch(96.68% 0.001 286.38);
  --color-muted-foreground: oklch(55.19% 0.014 285.94);
  --color-accent: oklch(96.68% 0.001 286.38);
  --color-accent-foreground: oklch(21.03% 0.006 285.88);
  --color-destructive: oklch(57.71% 0.215 27.33);
  --color-destructive-foreground: oklch(98.53% 0 0);
  --color-border: oklch(91.97% 0.004 286.32);
  --color-input: oklch(91.97% 0.004 286.32);
  --color-ring: oklch(14.5% 0.004 285.82);
  --radius: 0.5rem;

  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
